.link {
	@apply my-3 block;
}

.card {
	@apply relative flex items-center px-4;

	&::after {
		@apply absolute -right-0.5 h-0 w-0.5 bg-transparent;
		top: 28%;
		transition: height 0.3s, background-color 0.3s;
		transition-timing-function: ease-in-out;
		content: "";
	}
	&:hover::after {
		@apply h-2/5 bg-primary;
	}

	.img {
		@apply rounded-image object-cover object-top;
		height: 50px;
	}

	.text {
		@apply ml-3 truncate text-white;

		&:last-child {
			width: 70%;
		}
	}
}
