@use "~styles/vars";

.margin {
	margin-bottom: 60px;
}

.nav {
	@apply fixed top-0 bg-gray-900 border-b border-gray-800;
	width: calc(100% - 2 * vars.$bar-width);
	margin-right: vars.$bar-width;
	margin-left: vars.$bar-width;
}

.list {
	@apply flex items-center;

	.item {
		@apply inline-block flex-grow;

		// &:not(:first-child) {
		// 	@apply border-l border-gray-800;
		// }

		.link {
			@apply block relative flex items-center justify-center px-5 py-4 text-lg transition-colors text-white text-center text-opacity-60 hover:text-opacity-100;

			&::after {
				@apply absolute w-full h-0.5 bg-transparent transition-colors left-0 bottom-0 rounded-md;
				content: "";
			}
		}
		&.active .link {
			@apply text-opacity-100;
			&::after {
				@apply bg-primary;
			}
		}

		.icon {
			@apply text-2lg mr-3;
		}
	}
}
