@use "~styles/vars";

.margin {
	margin-bottom: 60px;
}

.nav {
	@apply fixed top-0 z-10 border-b border-gray-800 bg-gray-900;
	margin-right: vars.$bar-width;
	margin-left: vars.$bar-width;
	width: calc(100% - 2 * vars.$bar-width);
}

.list {
	@apply flex items-center;

	.item {
		@apply inline-block flex-grow;

		// &:not(:first-child) {
		// 	@apply border-l border-gray-800;
		// }

		.link {
			@apply relative block flex items-center justify-center px-5 py-4 text-center text-lg text-white text-opacity-60 transition-colors hover:text-opacity-100;

			&::after {
				@apply absolute left-0 bottom-0 h-0.5 w-full rounded-md bg-transparent transition-colors;
				content: "";
			}
		}
		&.active .link {
			@apply text-opacity-100;
			&::after {
				@apply bg-primary;
			}
		}

		.icon {
			@apply mr-3 text-2lg;
		}
	}
}
