.card {
	@apply mb-4 flex items-stretch;

	.poster {
		@apply rounded-image border border-transparent transition-colors image-like-bg;
		width: 65px;
		height: 97px;
	}
	&:hover {
		.poster {
			@apply border-primary;
		}
	}

	.info {
		@apply ml-4 flex flex-col;
		width: 67%;

		.title {
			@apply truncate text-lg font-medium text-white;
		}

		.genres {
			@apply text-sm text-gray-600;
		}

		.rating {
			@apply mb-2 flex items-center justify-self-end;

			.star {
				@apply mr-2 fill-yellow-700 text-lg;
			}
		}
	}
}
